<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/src/app/app.component.css">
</head>
<body>
<div class="container-fluid">
  <div class="body">
     <nav ><h1><strong>QUOTES THAT MAKE US!</strong></h1></nav>

  <p> life's intresting  quotes</p>
     <form>
   <div class="col-md-6">
  <input type="text" id="owner" placeholder="author">

  </div>
 <div class="col-md-6">
<input type="text" class="quote" id="quotee"  placeholder="enter quote">
  </div>
<div class="row">
 <div class="col-md-12">
   <input type="text" id="submittedby" placeholder="submitted by">
  </div>
</div>
  <button class="upvote" >*upvote*</button>
  <input type="number" id="input1" value="0"[name]="">

<button Class="downvote">downvote</button>

<input type="number" id="input2" value="0"[name]="">

<div class="submit">

     <button>submit quote</button>
   </div>
 </form>

</div>

</div>
</body>
</html>
