.body {
 animation: ease-in-out 2s;
  background-image: url(https://images.unsplash.com/photo-1630043743492-88e728e548ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHw4MzEzNDAxfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  height: 100vh;
  text-align: center;
  width: 208vh;
  color: aliceblue;
  margin-right:-20%;

}
.submit {
background-position: inherit;
font-size: 45%;
}

#upvote{
  border-radius: 45%;
}
#downvote{
  border-radius: 45%;
}
