.body {
  background-image: url(https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29vbCUyMGJhY2tncm91bmRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  height: 100vh;
  text-align: center;
  width: 208vh;
  color: aliceblue;

}
.submit {
background-position: inherit;
font-size: 45%;
}

#upvote{
  border-radius: 45%;
}
#downvote{
  border-radius: 45%;
}
